.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log
.DS_Store
.idea/
.vscode/
*.sqlite
*.db
*.pickle
*.pkl
*.tmp
*.swp
*.swo
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info/
markdown_exports/

